body {
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-top: 100px;
}
.form-signin .form-signin-heading {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 10px;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 10px;
}

.form-signin .headerLogo {
    text-align: center;
}

.navbar-brand .logo {
    height: 25px;
    margin-top: -3px;
    margin-right: 5px;
}

.menu .menu_header {
    padding-left: .5em;
}

.navbar {
    margin-bottom: 5px;
}

.card-title {
    margin-bottom: 2px;
}

.card-text {
    font-size: 13px;
    margin-bottom: 2px;
}

.card-footer {
    text-align: center;
}

.card-block {
    padding-top: 8px;
    padding-bottom: 5px;
}